* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
:after,
:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:active,
:focus {
  outline: 0;
}

a:active,
a:focus {
  outline: 0;
}

aside,
footer,
header,
nav {
  display: block;
}

body,
html {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

button,
input,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

.header {
  position: fixed;
  width: 100%;
  background-color: #fff;
}

.header__body {
  padding: 16px 24px;
}

.header__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0 35px;
}

.header__icon {
  min-width: 120px;
  max-width: 200px;
  position: relative;
  height: 51px;
}

.header__icon img {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  -o-object-fit: contain;
     object-fit: contain;
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0 35px;
}

.header__menu a {
  font-weight: bold;
  color: #141029;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
}

body {
  font-family: Montserrat;
  font-weight: 500;
  background-color: #f5f7fa;
}

a:hover {
  color: #750fd9;
}

main {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  margin-top: 83px;
}

.container {
  max-width: 1140px;
  margin: 0px auto;
}

.table {
  background-color: #fff;
  width: 100%;
  max-width: 1140px;
  padding-bottom: 25px;
}

.table__data {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  overflow-x: auto;
  margin-bottom: 16px;
}

.table__responsive {
  width: 100%;
  overflow-x: auto;
}

table.table__responsive {
  min-width: 1140px;
  border-collapse: collapse;
}

table.table__responsive th,
table.table__responsive td {
  padding: 22px 15px 22px 0px;
}

table.table__responsive th:first-child,
table.table__responsive td:first-child {
  padding-left: 30px;
}

table.table__responsive th:last-child,
table.table__responsive td:last-child {
  padding-right: 30px;
}

table.table__responsive thead {
  cursor: pointer;
}

table.table__responsive thead th {
  font-weight: bold;
  padding-bottom: 29px;
  padding-top: 30px;
  text-align: left;
}

table.table__responsive tbody tr:hover {
  background-color: #ececec;
  cursor: pointer;
}

.table-paginator__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.table-paginator__ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0 4px;
}

.table-paginator__ul ul {
  list-style-type: none;
}

.table-paginator__li {
  width: 50px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  border-radius: 100%;
}

.table-paginator__li:hover {
  background-color: #f7f7f9;
}

.table-paginator__li.active {
  background-color: #f7f7f9;
  color: #9b42f5;
}

.table-paginator__total {
  position: absolute;
  right: 25px;
  color: #6d6a7a;
  font-size: 17px;
  font-weight: 400;
}

.header-page {
  padding-top: 65px;
}

.header-page__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 30px;
}

.header-page__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 30px;
}

.header-page__search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 30px;
  gap: 0 15px;
}

.header-page-navigation__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-page-navigation__splitter {
  margin: 0 12px;
}

.header-page-search__input {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

.header-page-search__input input {
  width: 100%;
}
