@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
:after,
:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:active,
:focus {
  outline: 0;
}

a:active,
a:focus {
  outline: 0;
}

aside,
footer,
header,
nav {
  display: block;
}

body,
html {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

button,
input,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

.header {
  position: fixed;
  width: 100%;
  z-index: 1000;
}

.header__body {
  padding: 16px 24px;
  background-color: #fff;
}

.header__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0 35px;
}

.header__icon {
  min-width: 120px;
  max-width: 200px;
  position: relative;
  height: 51px;
  cursor: pointer;
}

.header__icon img {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  -o-object-fit: contain;
     object-fit: contain;
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0 35px;
}

.header__menu a {
  font-size: 16px;
  line-height: 1.75;
  font-family: "Montserrat-medium", sans-serif;
  font-weight: 500;
  color: rgba(20, 16, 41, 0.8);
  cursor: pointer;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}

body {
  font-family: Montserrat;
  font-weight: 500;
  background-color: #f5f7fa;
}

a:hover {
  color: #750fd9;
}

main {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  margin-top: 83px;
}

.container {
  max-width: 1140px;
  margin: 0px auto;
}

.main-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  width: auto;
  height: auto;
}

.dropdown-content {
  display: none;
  position: absolute;
  z-index: 9999;
}

.spoiler-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  -webkit-box-shadow: 2px 4px 20px rgba(14, 13, 13, 0.25);
          box-shadow: 2px 4px 20px rgba(14, 13, 13, 0.25);
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 3% 10%;
  color: black;
  padding: 50px 30px;
  gap: 30px;
  background: #FFFFFF;
}

.dropdown-content {
  display: none;
  position: absolute;
}

/* .show {display:block;
 
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  height:700px;

	} */
.spoiler__item {
  margin: 0px 0px 20px 0px;
}

.spoiler__title {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  /* Подпункты фильтра */
  color: #7D7B84;
  position: relative;
  padding: 0px 0px 0px 30px;
  cursor: pointer;
}

.spoiler__title.active {
  color: #9b42f5af;
}

.spoiler__title:before,
.spoiler__title:after {
  content: '';
  width: 10px;
  height: 1px;
  background-color: black;
  position: absolute;
  top: 12px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.spoiler__title:before {
  -webkit-transform: rotate(40deg);
          transform: rotate(40deg);
  left: 0;
}

.spoiler__title:after {
  -webkit-transform: rotate(-40deg);
          transform: rotate(-40deg);
  left: 8px;
}

.spoiler__title.active:before,
.spoiler__title.active:after {
  background-color: #9b42f5af;
}

.spoiler__title.active:before {
  -webkit-transform: rotate(-40deg);
          transform: rotate(-40deg);
}

.spoiler__title.active:after {
  -webkit-transform: rotate(40deg);
          transform: rotate(40deg);
}

.spoiler__content {
  display: none;
}

.spoiler__content-checkbox-filter {
  margin: 15px 0px 0px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 18px;
}

.filter-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  height: 500px;
}

.title_dropdown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.name_title h3 {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
}

hr {
  height: 1px;
  background: #D3D3D3;
  -webkit-transform: matrix(1, 0, 0, -1, 0, 0);
          transform: matrix(1, 0, 0, -1, 0, 0);
}

.input-spoiler-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 30px;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  padding-top: 30px;
  position: relative;
}

.clear-input {
  right: 40px;
  top: 0px;
  top: 3.2rem;
  background-color: transparent;
  cursor: pointer;
  position: absolute;
}

.input-filter {
  background: #F7F7F9;
  padding: 15px 70px 15px 15px;
}

.close-dropdown button {
  background-color: transparent;
}

.checkbox__input {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  position: absolute;
  border-radius: 3px;
}

.checkbox-filter__item {
  position: relative;
}

.chechbox__label {
  padding-left: 30px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  /* identical to box height, or 16px */
  /* Подпункты фильтра */
  color: #7D7B84;
  cursor: pointer;
}

.chechbox__label:before {
  content: "";
  display: block;
  width: 18px;
  height: 18px;
  background: #F7F7F9;
  border: 1px solid #C4C4C4;
  border-radius: 3px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.chechbox__label:after {
  content: "";
  display: block;
  width: 18px;
  height: 18px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  border-radius: 3px;
  background: url("../img/ico/select-checkbox.svg") no-repeat;
  background-position: center;
  background-size: 12px 10px;
  opacity: 0;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.checkbox__input:checked + .chechbox__label:before {
  background-color: #9B42F5;
  border-radius: 3px;
}

.checkbox__input:checked + .chechbox__label:after {
  opacity: 1;
}

.table {
  background-color: #fff;
  width: 100%;
  max-width: 1140px;
  padding-bottom: 25px;
  max-height: 100%;
}

.table__data {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  overflow-x: auto;
  margin-bottom: 16px;
}

.table__responsive {
  width: 100%;
  overflow-x: auto;
}

table.table__responsive {
  min-width: 1140px;
  border-collapse: collapse;
}

table.table__responsive th,
table.table__responsive td {
  padding: 22px 15px 22px 0px;
}

table.table__responsive th:first-child,
table.table__responsive td:first-child {
  padding-left: 30px;
}

table.table__responsive th:last-child,
table.table__responsive td:last-child {
  padding-right: 30px;
}

table.table__responsive thead {
  cursor: pointer;
}

table.table__responsive thead th {
  font-weight: bold;
  padding-bottom: 29px;
  padding-top: 30px;
  text-align: left;
}

table.table__responsive tbody tr:hover {
  background-color: #ececec;
  cursor: pointer;
}

.table-paginator__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.table-paginator__ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0 4px;
}

.table-paginator__ul ul {
  list-style-type: none;
}

.table-paginator__li {
  width: 50px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  border-radius: 100%;
}

.table-paginator__li:hover {
  background-color: #f7f7f9;
}

.table-paginator__li.active {
  background-color: #f7f7f9;
  color: #9b42f5;
}

.table-paginator__total {
  position: absolute;
  right: 25px;
  color: #6d6a7a;
  font-size: 17px;
  font-weight: 400;
}

.header-page {
  padding-top: 65px;
}

.header-page__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 30px;
}

.header-page__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-page__title h1 {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #141029;
}

.header-page__button button {
  background: -webkit-gradient(linear, left top, right top, color-stop(3.2%, #0094ff), color-stop(73.28%, #9b42f5));
  background: linear-gradient(90deg, #0094ff 3.2%, #9b42f5 73.28%);
  color: white;
  height: 48px;
  min-width: 200px;
  font-family: "Montserrat", serif;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  -webkit-transition: 0.5s;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.header-page__button button:hover {
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
          box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  color: rgba(255, 255, 255, 0.6);
}

.header-page__search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 30px;
  gap: 0 15px;
}

.header-page-navigation__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-page-navigation__link a {
  font-family: 'Montserrat';
  font-style: bold;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #141029;
  text-decoration: none;
}

.header-page-navigation__splitter {
  margin: 0 12px;
  font-family: 'Montserrat';
  font-style: bold;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #141029;
  text-decoration: none;
}

.header-page-search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 15px;
  margin-top: 30px;
}

.header-page-search__input {
  height: auto;
  width: 70%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: end;
  gap: 10px;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

.header-page-search__input .search-icon {
  position: absolute;
  left: 0px;
  top: 0px;
  pointer-events: none;
  top: 1.4rem;
  padding-left: 21px;
}

.header-page-search__input input {
  height: 100%;
  width: 100%;
  background-color: #f7f7f9;
  padding-left: 5px;
  padding: 15px 0px 15px 55px;
  border: none;
  margin-right: 0px;
  border-radius: 10px;
}

.header-page-search__input input:focus {
  border-bottom: 2px solid #0c0c0c;
  padding: 15px 0px 13px 55px;
}

.header-page-search__input button {
  position: absolute;
  right: 0px;
  top: 0px;
  top: 1.3rem;
  padding-right: 15px;
  background-color: transparent;
  cursor: pointer;
}

.header-page-search__input button .material-icons {
  color: #6d6a7a;
  background-color: #f7f7f9;
}

.header-page-search__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
}

.header-page-search__buttons button {
  position: relative;
  max-width: 100%;
  height: auto;
  padding: 15px 15px;
  background: rgba(254, 254, 255, 0.5);
  -webkit-box-shadow: 2px 4px 20px rgba(3, 3, 3, 0.1);
          box-shadow: 2px 4px 20px rgba(3, 3, 3, 0.1);
  border-radius: 10px;
}
/*# sourceMappingURL=style.css.map */