$color-header__link: #141029;
$fw-header__link: bold;
.header {
	position: fixed;
	width: 100%;
	background-color: #fff;
	&__body {
		padding: 16px 24px;
	}

	&__row {
		display: flex;
		align-items: center;
		gap: 0 35px;
	}

	&__icon {
		min-width: 120px;
		max-width: 200px;
		position: relative;
		height: 51px;
		cursor:pointer;
		img {
			position: absolute;
			height: 100%;
			width: 100%;
			top: 0;
			left: 0;
			object-fit: contain;
		}
	}

	&__menu {
		display: flex;
		gap: 0 35px;
		a {
			font-size: 16px;
			line-height: 1.75;
			font-family: "Montserrat-medium", sans-serif;
			font-weight: 500;
			color: rgba(20, 16, 41, 0.8);
			cursor: pointer;
			transition: 0.2s;
		}
	}
}
