@import "_nullstyle";
@import "_header";
@import "_fonts.scss";

$container_maxw: 1140px;
.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}
body {
	font-family: Montserrat;
	font-weight: 500;
	background-color: #f5f7fa;
}
a:hover {
	color: #750fd9;
}
main {
	flex: 1 0 auto;
	margin-top: 83px;
}
.container {
	max-width: $container_maxw;
	margin: 0px auto;
}
@import "_table";
@import "_header-page";
